<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Emargement Algorithmique</title>
		<style>
			table {
			  border-collapse: collapse;
			}

			table, td, th {
			  border: 1px solid black;
			  padding: 4px;
			}

			th{
				background-color: rgb(212, 212, 212);
			}

			tr:hover{
				background-color: #ccc;
			}
		</style>
	</head>
	<body>
		<form action="emargement.html" method="post" style="margin: 20px auto; box-sizing: border-box">
			<h1>Algorithmique</h1>
			<div>
				<input type="submit" value="Ajouter un émargement" />
			</div>
			</br>historique</br></br>
			<div>
				<table>
					<tr>
						<th>Date</th>
						<th>Leçons</th>
						<th>Absents</th>
					</tr>
											
						<tr>
						   <td>29/04/12</td>
						   <td>Lorem ipsum</td>
						   <td>kouakou</td>
						</tr>
					 
				</table>
			</div>
		</form>	
	</body>

</html>
