<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Emargement {{cour}}</title>
	</head>
	<body>
		<div class="table-bordered" style="background-color: #f6fef9; position: absolute; border-radius: 0px;">
			<form action="" method="post" style="margin: 20px; ">
				Nouvelle émargement</br></br>
				<div>
					Date : <input type="date" name="dates" />
				</div>
				<div>
					</br>Leçons du jour:</br>
					<TEXTAREA name="lecons" rows=4 cols=40></TEXTAREA>
				</div>
				<div>
					</br>Absents:</br>
					<TEXTAREA name="absents" rows=4 cols=40></TEXTAREA>
				</div>
				</br><input type="submit" value="Enregistrer" class="btn-sm"/>				
			</form>	
		</div>
	</body>
</html>
